<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ENK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DuplicateRechargeMessage" value="You'll have to wait 4 minutes for another recharge"/>
    <add key="Fromail" value="support@enkwirelessinc.com"/>
    <!--<add key="Fromail" value="support@bnkcorp.us"/>-->
     <!--<add key="Fromail" value="support@eahasolutions.com"/>-->
    <add key="ToMailID" value="shadab.a@Virtuzo.in"/>
    <add key="CCMailID" value="bharat.b@virtuzo.in;rishav.c@virtuzo.in"/>
    <!--<add key="CCMailID" value="cs@emida.net;customerservice@emida.net"/>-->
    <add key="Password" value="enkWire@"/>
    <!--<add key="Password" value="Bnk1234@"/>-->
    <!--<add key="SendTo" value="newsletter@bnkcorp.us"/>--> 
    <add key="SendTo" value="newsletter@enkwirelessinc.com"/>
    <add key="TOBCC" value="Uday.v@Virtuzo.in"/>
    <add key="SubJect" value="January 2019 LycaMobile Spiff Details!"/>
    <!--<add key="Password" value="##eA##123@"/>-->
    <add key="Host" value="smtp.gmail.com"/>
    <add key="H2OAPIURL" value="https://webservice.emida.net/soap/servlet/rpcrouter"/>
    <add key="APIURL" value="https://itgusa.lycamobile.us:2254" />
    <add key="CHANNEL" value="ENKWIR"/>
    <add key="T_Name"  value="ENK"/>
    <add key="ENTITY" value="ENKWIR"/>
    <add key="COMPANY_NAME" value="ENK Wireless Inc."/>
    <add key="SHORT_COMPANY_NAME" value="ENK Wireless"/>
    <add key="TXN_SERIES" value="ENK"/>
    <add key="Inventory_Transfer" value="1"/>
    <add key="TAX_Mandatory" value="0"/>
    <add key="TAX_Doc_Mandatory" value="0"/>
    <add key="COMPANY_WEBSITE" value="enkwirelessinc.com"/>
    <add key="GTAC_Mail" value="support@enkwirelessinc.com"/>
    <add key="COMPANY_EMAIL" value="support@enkwirelessinc.com"/>
    <add key="COMPANY_SALESREPRESENTATIVE" value="enkwirelessinc"/>
    <add key="COMPANY_PHONE" value="+1 (213) 213 5880"/>
    <add key="COMPANY_SALESREPRESENTATIVEEMAIL" value="abc@enkwirelessinc.com"/>
    <!--<add key="COMPANY_SUBSCRIBERAPPURL"  value="\"https://play.google.com/store/apps/details?id=com.virtuzoconsultancyservicespvtltd.ENK.subscriber&hl=en\""  />-->
    <add key="COMPANY_SUBSCRIBERARECHARGEURL" value="http://www.ENK.com/subscriberrecharge"/>
    <add key="COMPANY_INFOEMAIL" value="info@ENK.com"/>
    <add key="COMPANY_WEBURL" value="http://ENK.com/"/>
    <add key="PaypalCommission" value="0"/>
    <add key="RechargePMode" value="ENKWIRE"/>
    <add key="TopUpChannelID" value="41"/>
    <add key="Topup_PMode" value="1"/>
    <add key="token" value="AFcWxV21C7fd0v3bYYYRCpSSRl31A2o8qV8HDOmdR97yuWi32YxTtfvE"/>
    <add key="paypalemail" value="enkwirelessinc@gmail.com"/>
    <add key="FailedURL" value="https://pos.enkwirelessinc.com/RechargeSuccess.aspx"/>
    <add key="SuccessURL" value="https://pos.enkwirelessinc.com/RechargeSuccess.aspx"/>
    <add key="ActivationSuccessURL" value="https://pos.enkwirelessinc.com/ActivationStatus.aspx"/>
    <add key="ActivationFailedURL" value="https://pos.enkwirelessinc.com/ActivationStatus.aspx"/>
    <add key="PortinSuccessURL" value="https://pos.enkwirelessinc.com/PortinStatus.aspx"/>
    <add key="PortinFailedURL" value="https://pos.enkwirelessinc.com/PortinStatus.aspx"/>
    <!--<add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>-->
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr"/>
    <!--<add key="FailedURL" value="http://localhost:25836/RechargeSuccess.aspx"/>
    <add key="SuccessURL" value="http://localhost:25836/RechargeSuccess.aspx"/>-->
    <add key="RechargeSuccessURL" value="https://pos.enkwirelessinc.com/Success.aspx"/>
    <add key="RechargeFailedURL" value="https://pos.enkwirelessinc.com/Fail.aspx"/>
    <!--Here i used sandbox site url only if you hosted in live change sandbox to live paypal URL-->
    <!--
    <add key="SuccessURL" value="http://pos.enkwirelessinc.com/RechargeSuccess.aspx"/>
    <add key="FailedURL" value="http://pos.enkwirelessinc.com/RechargeSuccess.aspx"/>
   
    <add key="ActivationSuccessURL" value="http://pos.enkwirelessinc.com/ActivationStatus.aspx" />
    <add key="ActivationFailedURL" value="http://pos.enkwirelessinc.com/ActivationStatus.aspx" />

    <add key="PortinSuccessURL" value="http://pos.enkwirelessinc.com/PortinStatus.aspx" />
    <add key="PortinFailedURL" value="http://pos.enkwirelessinc.com/PortinStatus.aspx" />
     -->
    <add key="PDTToken" value="P6rouXAZANsnZmEpjKrC9yr5fhDObAcP1HGlGlNsd3-KVJmbZiYiqoMTDea"/>
    <!--<add key="paypalemail" value="pankaj.kumar-facilitator@virtuzo.net"/>-->
    <!--<add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>-->
    <!--<add key="PDTToken" value="NHc2bkE-MHsBtoisKqKi5aiDN5Z4wKjnjXeTKSeVTk5mCvZXJ2lpgj3fzRy"/>-->
  </appSettings>
  <connectionStrings>
    <!--<binding name="BasicHttpBinding_IService1" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="14400"/>
    <sessionState mode="InProc" timeout="1200"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <!-- cookieless="true" it is define in minute-->
  </system.web>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="LycaAPISoap1" />
        <!--add by akash starts-->
        <binding name="BasicHttpBinding_IService1"  allowCookies="true"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--add by akash ends-->
    
    <client>
      <endpoint address="http://104.42.44.252/LycaAPI/lycaapi.asmx"
        binding="basicHttpBinding" bindingConfiguration="LycaAPISoap1"
        contract="LycaAPI.LycaAPISoap" name="LycaAPISoap1" />
      <endpoint address="http://localhost:2135/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <ENK.Properties.Settings>
      <setting name="ENK_net_emida_ws_webServicesService" serializeAs="String">
        <!--<value>https://ws.emida.net:444/soap/servlet/rpcrouter</value>-->
        <value>https://webservice.emida.net/soap/servlet/rpcrouter</value>
      </setting>
      <setting name="AHPrepaid_net_emida_ws_webServicesService" serializeAs="String">
        <value>https://ws.emida.net:444/soap/servlet/rpcrouter</value>
      </setting>
    </ENK.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    <!--<rewrite>
      <rules>
        <rule name="http2https" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
</configuration>
<!--ProjectGuid: 051FBA9B-DD7A-4B25-8129-AB061BE90911-->