<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <sessionState mode="InProc" timeout="120"></sessionState>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages maintainScrollPositionOnPostBack="true"/>
  <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="Fromail" value="xyz@gmail.com"/>
    <add key="Password" value="9711679656"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="facebook:AppId" value="100625420307292"/>
    <add key="facebook:AppSecret" value="cd6f199ae15ac88979d43069557676e5"/>
    <add key="facebook:uri_redirect" value="http://localstylo.com/salonmate/facebookcallbackuri.aspx"/>
    <!--<add key="facebook:uri_redirect" value="http://localhost:4268/facebookcallbackuri.aspx"/>-->
	
	<add key="fromemailid" value="hr@bookmyhouse.com"/>
    <add key ="emailhostserver" value="s43.cyberspace.in"/>
    <add key="emailnetcredun" value="hr@bookmyhouse.com"/>
    <add key="emailnetcredps" value="Hrbmh_1@3"/>
    
    <!--<add key="fromemailid" value="hrms.virtuzo@gmail.com"/>
    <add key ="emailhostserver" value="smtp.gmail.com"/>
    <add key="emailnetcredun" value="hrms.virtuzo@gmail.com"/>
    <add key="emailnetcredps" value="#hrms.virtuzo#"/>-->

    <add key="emailNdevice" value="paras@bookmyhouse.com"/>
    <add key="emailNdevice1" value="vikas.saini@bookmyhouse.com"/><!--vikas.saini@bookmyhouse.com-->

    <add key="emailSimMobileNo" value="neha.arora@bookmyhouse.com"/>    
    <add key="hremailid" value="neha.arora@bookmyhouse.com"/>
    <add key="Manageremailid" value="abhishek.srivastava@bookmyhouse.com"/>

  </appSettings>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPayrollMateService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IPayrollMateService1" />
      </basicHttpBinding>
    </bindings>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISalonService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>-->
    <client>
      <endpoint address="http://virtuzo.in/BookmyhouseService/PayrollService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPayrollMateService"
        contract="ServiceReference1.IPayrollMateService" name="BasicHttpBinding_IPayrollMateService" />
    </client>
  </system.serviceModel>
</configuration>