<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ENKDAL.Properties.Settings.Connection" connectionString="Data Source=Data Source=168.61.36.93;Initial Catalog=BNK;Persist Security Info=True;User ID=sqladmin;Password=rNr#5!fqEKYv" />
  </connectionStrings>
</configuration>